<h1> Edit Discount </h1>

<%= form_tag "/merchant/discounts/#{@discount.id}", method: :patch do %>

  <%= label_tag :name %> <br>
  <%= text_field_tag :name %> <br>

  <%= label_tag :item_amount %> <br>
  <%= number_field_tag :item_amount %> <br>

  <%= label_tag :discount_percentage %> <br>
  <%= number_field_tag :discount_percentage %> <br>

  <%= submit_tag "Update Discount" %>
<% end %>
